nav#main-nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
        ul.nav-ie
            li.active
                a.titleWidth(href="/detail/1")
                    span.menu 美人鱼岛
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        美人鱼岛
            li
                a.titleWidth(href="/detail/2")
                    span.menu 日落
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        日落
            li
                a.titleWidth(href="/detail/3")
                    span.menu 水上清真寺
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        水上清真寺
            li
                a.titleWidth(href="/detail/4")
                    span.menu 神山
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        神山
            li#logo
                img.logo(src="/images/logo.png" onclick="window.location.href='#';return false")
            li
                a.titleWidth(href="/detail/5")
                    span.menu 度假村
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        度假村
            li
                a.titleWidth(href="/detail/6")
                    span.menu 市区
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        市区
            li
                a.titleWidth(href="/about")
                    span.menu 关于我们
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        关于我们
            li
                a.titleWidth(href="#")
                    span.menu 更多
                    span.icon-menu
                        i.glyphicon.glyphicon-chevron-down
                        更多
        div.navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.visible-xs
                img.logo(src="/images/mobile-logo.png" onclick="window.location.href= '#';return false")
        div#navbar.collapse.navbar-collapse.navbar-scrol
            ul.nav.navbar-nav.navigation.navbar-center
                li.active
                    a.titleWidth(href="/detail/1")
                        span.menu 美人鱼岛
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            美人鱼岛
                li
                    a.titleWidth(href="/detail/2")
                        span.menu 日落
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            日落
                li
                    a.titleWidth(href="/detail/3")
                        span.menu 水上清真寺
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            水上清真寺
                li
                    a.titleWidth(href="/detail/4")
                        span.menu 神山
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            神山
                li#logo
                    img.logo(src="/images/logo.png" onclick="window.location.href='#';return false")
                li
                    a.titleWidth(href="/detail/5")
                        span.menu 度假村
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            度假村
                li
                    a.titleWidth(href="/detail/6")
                        span.menu 市区
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            市区
                li
                    a.titleWidth(href="/about")
                        span.menu 关于我们
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            关于我们
                li
                    a.titleWidth(href="#")
                        span.menu 更多
                        span.icon-menu
                            i.glyphicon.glyphicon-chevron-down
                            更多